<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='theme.js') }}"></script>

</head>
<body>

<div class="container">
    <div class="navbar">
    <div class="nav-left">
        <a href="/">Dashboard</a>
        <a href="/create_invoice">Create Invoice</a>
        <a href="/stock">Stock</a>
        <a href="/add-product">Add Product</a>
        <a href="/update-stock">Add Stock</a>
    </div>

    <span class="toggle" onclick="toggleTheme()">🌙 / ☀️</span>
</div>


<h2>Add Product</h2>

<form method="post" class="grid-4">
    <input name="code" placeholder="Code">
    <input name="name" placeholder="Product Name">
    <input name="hsn" placeholder="HSN">
    <input name="uom" placeholder="Unit">
    <input name="rate" placeholder="Rate">
    <input name="stock" placeholder="Opening Stock">
    <button type="submit">Add Product</button>
</form>

</div>
</body>
</html>
